/*Iconos descargados desde https://icomoon.io/app/#/select*/

.social-bar {
	position: fixed; /*Para hacer que quede fijo en la pantalla*/
	left: 0;  /*Para hacer que quede a la izquierda*/
	top: 12%; /*Para posicionarlo 35% lo deja casi al centro*/
	font-size: 1.5rem; /*Aumentar el tamaño de la fuente*/
	display: flex; /*Aplicamos la propiedad display flex*/
	flex-direction: column; /*cambio de flujo por defecto row a column*/
	align-items: flex-start; /*Se alinian hacia la parte inferior*/
	z-index: 100; /*para que se ubique encima del resto de los elementos de lap agina*/
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s; /*para animar las propiedades (all para animar todos los cambios y .5 ek tiempo de duracion)*/
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

.icon:first-child { /*Borde al primer icono*/
	border-radius: 0 1rem 0 0;
} 

.icon:last-child { /*Borde al ultimo icono*/
	border-radius: 0 0 1rem 0;
}

.icon:hover {
	padding-left: 3rem;
	border-radius: 0 1rem 1rem 0;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}